#Ignora los archivos JSON
*.json

#Ignora los archivos de configuración YAML
*.yaml
*.yml
#Ignora los archivos de log
*.log
#Ignora los archivos CSV
*.csv   
#Ignora los archivos XML
*.xml   
#Ignora los archivos Markdown
*.md    
#Ignora los archivos de Excel
*.xls
*.xlsx
#Ignora los archivos de Word
*.doc
*.docx
*.odt

#Ignora los archivos de espacio de trabajo de Visual Studio Code
*.code-workspace

*.ico

*.iss
*.spec
*.nsi
*.iso
*.img
Pipfile
Pipfile.lock
*.env
*.venv
*.envrc
*.pytest_cache/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.bak
*.backup
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log
*.tmp
*.swp
*.swo
/.env
/dist/
/build/
/.venv/
/Output/

